* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #151719;
  left: -200px;
  transition: all 250ms;
}

#sidebar.active {
  left: 0;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
  padding: 15px 10px;
  list-style: none;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar .btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 1.5px solid #000;
}
